{% extends 'base.html.twig' %}

{% block main %}

    <img src="https://www.nintex.com/blog/wp-content/uploads/2015/11/contact-us.jpg">
    <div class="col-sm-4">
        <div class="contact-info">
            <h2 class="title text-center">Contact Info</h2>
            <address>
                <p>Cattleya Shop Inc.</p>
                <p>гр.Добрич ул "Георги Кирков" 23</p>
                <p>гр.Добрич България</p>
                <p>Mobile: +359 898429685</p>
                <p>Fax: 1-714-252-0026</p>
                <p>Email: info@cattleyashop.com</p>
            </address>
            <div class="social-networks">
                <h2 class="title text-center">Social Networking</h2>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/kehajova"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_5110588920301"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/109838008718252817906"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCMGVBfXtwiG5I08b2hOr1_Q"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

