{% extends 'base.html.twig' %}


{% block main %}
    {#<div class="container body-content">#}
        {#<div class="row">#}
            {#{% for category in categories %}#}
                {#<div class="col-md-6">#}
                    {#<article>#}
                        {#<header>#}
                            {#<h5>{{ category.name }}</h5>#}
                        {#</header>#}

                        {#<p>#}
                            {#{{ category.products.count }}#}
                        {#</p>#}



                        {#<footer>#}
                            {#<div class="pull-right">#}
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="{{ path('category_products', {'id': category.id}) }}">Read more &raquo;</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{% endblock %}



