{% extends 'base.html.twig' %}

{% block title %}Checkout Success{% endblock %}

{% block body %}
    <h1>Checkout Success</h1>
    <div class="row">
        <p>Thank you for placing your order.</p>
        {#<p>You can see order details <a href="{{ path('salesorder_show') }}">here</a>.</p>#}
    </div>
{% endblock %}