{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_categories_delete', {'id': category.id}) }}" method="POST">
                <fieldset>
                    <legend>Delete Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Category Name</label>
                        <div class="col-sm-4 ">
                            {{ form_rest(form) }}
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('admin_categories') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
