{% extends 'base.html.twig' %}


{% block main %}
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--reg form-->
                        <h2>Register account</h2>
                        <form action="{{ path('user_register') }}" method="post">

                            {{ form_rest(form) }}

                        </form>
                    </div><!--/reg form-->
                </div>
            </div>
        </div>
    </section><!--/reg-->
{% endblock %}